name = {{ process_name }}
withdraw-on-down
dynamic-ip-setup
interval = 10
label = {{ process_name }}
{% for instance in play_hosts if instance.index(inventory_hostname) is even %}
start-ip = 1
{% else %}
start-ip = 0
{% endfor %}
{% for anycast_cidr in anycast_cidrs %}
ip = {{ anycast_cidr }}
{% endfor %}
up-metric = 100
increase = 100
command = {{ test_cmd }}
{% if community_list is defined %}
community = {{ community_list }}
{% endif %}
disable = /var/healthcheck/{{ process_name }}.disable
