name = {{ process_name }}
withdraw-on-down
dynamic-ip-setup
interval = 10
label = {{ process_name }}
start-ip = 0
{% for anycast_cidr in anycast_cidrs %}
ip = {{ anycast_cidr }}
{% endfor %}
up-metric = 100
increase = 100
command = {{ test_cmd }}
{% if community_list is defined %}
community = {{ community_list }}
{% endif %}
disable = /etc/exabgp/{{ process_name }}.disable
