{% for proc in anycast_procs %}
process {{ proc.name }} {
        run python3 -m exabgp healthcheck --sudo --ip {{ proc.cidr }} --community "{{ community_list }}" --command "{{ test_cmd }}" --withdraw-on-down --interval 10 --up-metric 100 --label lab01;
        encoder json;
}
{% endfor %}

template {
        neighbor controller {
                local-address {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }};
                local-as {{ local_as }};
                peer-as {{ remote_as }};
                hold-time 180;
                group-updates false;
                capability {
                    graceful-restart 1200;
                }

                family {
                    ipv4 unicast;
                }

{% if use_healthcheck is sameas true %}
                api { processes [ {{ anycast_procs | map(attribute='name')  | list | join(', ') }} ]; }
{% endif %}
        }
}

{% for bgp_neighbor in bgp_neighbors %}
neighbor {{ bgp_neighbor.ip }} { inherit controller; }
{% endfor %}
